* {
  box-sizing: border-box;
  line-height: 1.15;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0em;
  padding: 0;
  margin: 0;
}

/* section {
  padding: 50px 0px 71px 0px;
} */

strong {
  color: #bb1d1f;
  text-transform: uppercase;
}

h1 {
  margin: -8px 0px 3px 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.header {
  width: 100%;
  background: url("../img/section_1/background.jpg") center center/cover no-repeat;
  background-size: cover;
  padding: 20px 0px 60px 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header__logo {
  margin-right: 30px;
}

.header__info {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 40px;
}


.header__contact {
  display: flex;
  flex-direction: column;
  /* width: 479px;
  height: 179px; */
  text-align: right;
  padding: 19px;
  position: relative;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  
}

.header__contact_text-strong {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #bb1d1f;
  letter-spacing: 1.8px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.header__contact:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.header__contact:before {
  border-right-color: #ffffff;
  border-width: 19px;
  top: 50%;
  margin-top: -19px;
}

.header__contact_phone {
  align-self: flex-end;
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  /* border-bottom: 5px dashed #000000; */
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}

.header__contact_phone:after {
   content: "_ _ _ _ _ _ _ _ _ _ _ _ _ _";
   position: absolute;
   color: #000000;
   font-size: 47px;
   font-weight: 600;
   left: 0px;
}

.header__contact-line {
  color: #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 47px;
  font-weight: 800;
  margin-top: -52px;
}

.header-content {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 59px; */
  margin-bottom: 40px;
}

.header-content_strong {
  font-weight: 600;
}

.header-content__text {
  align-self: flex-start;
  font-size: 36px;
  font-weight: 300;
  /* line-height: 60px; */
  text-transform: uppercase;
  padding: 3px 37px 3px 17px;
  background-color: #ffffff;
  color: #000000;
  margin: 0px 0px 12px 0px;
  letter-spacing: -0.36px;
}

.header__content_phone {
  color: #000000;

}

.header__form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 480px;
  border: none;
}

.header__form_star:after {
  content: "*";
  position: absolute;
  color: #bb1d1f;
  font-size: 40px;
  line-height: 0;
  top: 25px;
  left: 5px;
  font-weight: 600;
}

.header__form_star-2:after {
  content: "*";
  position: absolute;
  color: #bb1d1f;
  font-size: 40px;
  line-height: 0;
  top: 105px;
  left: 5px;
  font-weight: 600;
}


.header__form_input {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 36px;
  border-bottom: 2px solid #000000;
  padding-left: 30px;
  outline: 0;
  text-transform: uppercase;
  line-height: 33px;
  font-weight: 300;
  margin-bottom: 27px;
}

.header__form_input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 300;
}

.header__form_input:focus::placeholder {
  color: transparent;
  font-weight: 300;
}

.header__form_button {
    width: 277px;
    height: 46px;
    color: #ffffff;
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -0.24px;
    background-color: #bb1d1f;
    outline: none;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.68);
    border: none;
    text-align: center;
    border-radius: 5px;
}

.header__form_button:hover {
  box-shadow: 0 0 75px rgb(255, 255, 255);
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
}


/* Work */

.work {
  padding: 50px 0px 40px 0px;
}

.work__title {
  margin: 0px 0px 65px 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: -0.48px;
}

.work-list {
  display: flex;
  flex-wrap:wrap;
}

.work-list__item {
 display: flex;
 align-items: center;
 flex-wrap:wrap;
 max-width: 296px;
 margin-right: 50px;
 margin-bottom: 33px;
}

.work-list__item:nth-child(2) {
  margin-right: 47px;
}

.work-list__item:nth-child(5) {
  margin-right: 55px;
}

.work-list__item:nth-child(3n) {
  margin-right: 0;
}


.work-list__image {
  margin-right: 9px;
  width: 137px;
  height: 137px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
}

/* .work-image_1 {
  background: url("../img/section_2/Layer_1.png") center no-repeat #ffffff;
}

.work-image_2 {
  background: url("../img/section_2/Layer_2.png") center no-repeat #ffffff;
}

.work-image_3 {
  background: url("../img/section_2/Layer_3.png") center no-repeat #ffffff;
}

.work-image_4 {
  background: url("../img/section_2/Layer_4.png") center no-repeat #ffffff;
}

.work-image_5 {
  background: url("../img/section_2/Layer_5.png") center no-repeat #ffffff;
}

.work-image_6 {
  background: url("../img/section_2/Layer_6.png") center no-repeat #ffffff;
} */
/* <img src="img/section_2/Layer_1.png"class="work-list__image work-image_1"alt=""> */
.work-list__text {
  font-weight: bold;
  text-transform: uppercase;
  max-width: 138px;
}

.work-list__text-one {
  max-width: 145px;
}

.work-list__text-two {
  max-width: 141px;
}


.red {
  color: #bb1d1f;
}


/* advantages */

.advantages {
  padding: 50px 0px 50px 0px;
  background-color: #f7f7f7;
}

.advantages__title {
  margin: 0px 0px 77px 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: -0.48px;
}

.qualities > li {
  list-style-image: url("../img/icon/Vector_Smart_Object.png");
  list-style-type:square;
  padding-left: 27px;
}

.qualities-wrap {
  padding-left: 70px;
}

.qualities__item {
  list-style-type: none;
  font-size: 24px;
  margin-bottom: 46px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  font-weight: 600;
}

.qualities__item-logo {
  margin-right: 32px;
  font-size: 32px;
  color: #e51c20;
}

/* advice */

.advice {
  display: flex;
  padding: 84px 0px 95px 0px;
}

.advice__title {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.28px;
}


.advice__title:before {
  content: "!";
  font-size: 260px;
  font-weight: 600;
  margin-right: 25px;
  text-align: center;
  line-height: 42px;
  color: #000000;
  float: left;
  position: relative;
  top: 45px;
  left: 20px;
}

.help {
  position: relative;
  text-align: center;
  padding: 25px 45px 24px 45px;
  border: 3px solid #ff9c00;
  border-radius: 10px;
  max-width: 840px;
}

.help__line {
  margin: 10px auto 0px auto ;
  width: 110px;
  height: 3px;
  background-color: #000000;
}

.help__title {
  font-weight: 400;
  font-size: 18px;
  margin-left: 60px;
  letter-spacing: -0.28px;
  width: 745px;
  margin-left: auto;
  
}

.help__text {
  margin-top: 40px;
  font-weight: 600;
}

.help__text_you {
  max-width: 650px ;
  margin: -15px auto 16px auto;
}

.help__text_we {
  margin: 0px;
}

/* offer */

.offer {
  background-color: #bb1d1f;
  color: #ffffff;
  padding: 37px 0px 43px 0px;
}

.offer__title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
}

.offer__title_name {
letter-spacing: -0.24px;
text-transform: uppercase;
}

.offer__title_phone {
  text-decoration: none;
  color: #ffffff;
}

.offer__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.offer__form_input {
  width: 341px;
  height: 40px;
  border: 1px solid #ddd;
  font-size: 18px;
  letter-spacing: -0.18px;
  padding: 12px 112px 14px 13px;
  outline: 0;
  margin-right: 19px;
  text-transform: uppercase;
}

.offer__form_button {
  display: block;
  background: rgba(255, 255, 255, 0);
  width: 240px;
  height: 40px;
  border: 2px solid #ffffff;
  color: #ffffff;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.offer__form_button:hover {
  box-shadow: 0 0 75px rgb(255, 255, 255);
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* footer */

.footer {
  padding: 42px 0px 51px 0px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info_phone {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-bottom: 2px dashed #000000;
}

.footer__info {
  display: flex;
  align-items: center;
  width: 400px;
  flex-wrap: wrap;
}

.footer__info_logo {
  margin-right: 17px;
}
    
.footer__info_text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 21px;
  font-weight: bold;
  margin: 4px 0px 0px 0px;
  line-height: 10px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__address_logo:hover {
  cursor: pointer;
}

.footer__address_info {
  color: #9b9b9b;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 1px;
}

/* Media Queries */
@media screen and (max-width: 810px) {
  .container {
    max-width: 580px; 
    width: 90%;
  }
  .section {
    padding: 60px 0px 60px 0px;
  }
  h1 {
    font-size: 30px;
  }
  .header__info {
    flex-wrap: wrap;
  }
  .header__contact_phone {
    font-size: 30px;
  }
  .header__contact_phone:after {
    display: none;
  }
  h2 {
    text-align: center;
    font-size: 40px;
  }
  .work-list {
    flex-direction: column;
    align-content: center;
  }
  .work-list__item {
    max-width: 80%;
  }
  .work-list__item {
    margin: 0px 0px 20px 0px;
  }
  .work-list__item:nth-child(5) {
    margin-right: 1px;
  }
  .work-list__item:nth-child(2) {
    margin-right: 1px;
  }
  .work-list__text {
    text-align: center;
  }
  .qualities__item {
    font-size: 15px;
  }
  .fa {
    margin-right: 20px;
  }
  .advice__title {
    text-align: center;
  }
  .advice__title:before {
    content: "";
  }
  .offer__form_input {
    margin-bottom: 13px;
  }
  .footer__info_text {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .container {
    width: 90%;
  }
  .header__contact-line {
    display: none;
  }
  .header__info {
    flex-wrap: wrap;
  }
  .header__logo {
    margin: 0px 0px 30px 0px;
  }
 .header__logo img{
  max-width: 95%;
 }

  .header__contact {
    text-align: center;
  }
  .header__contact_phone {
    align-self: center;
  }
  .header__contact::before,::after {
    display: none;
  }
  .header__form {
    max-width: 100%;
  }
  .header__form_input {
    font-size: 23px;
  }
  .header__form_button {
    width: 100%;
  }
  .help__title {
    margin: auto;
  }
  .help__title:after {
    display: none;
  }
  .footer__wrap {
    display: flex;
    flex-direction: column;
  }
  .footer__info {
    margin-bottom: 15px;
  }
  
}
@media screen and (max-width: 395px) {
  img {
    max-width: 80%;
  }
  .header__contact_text-strong {
    font-size: 25px;
  }
  .work-list__image {
    max-width: 100%;
  }
  .work__title, 
  .advantages__title {
    font-size: 25px;
  }
  .offer__form_input {
    max-width: 80%;
  }
  .header__contact {
    width: 90%;
    margin: auto;
  }
  .footer__info {
    display: flex;
    justify-content: center;
  }
  .footer__info_phone {
    display: none;
  }
}
  
